@import "tailwindcss";

@theme {
  --color-placeholder-blot: oklch(54.6% 0.245 262.881);
}

@layer base {
  .ql-placeholder {
    @apply bg-placeholder-blot cursor-default rounded-md px-1.5 py-0.5 font-medium text-white;
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}
